{% extends "layout.html" %} 
{% block title %}게임{% endblock %} 
{% block head %} 
    {{ super() }} 
{% endblock %} 
{% block content %}
<br>
<h1 style="text-align: center;">게임 결과</h1>
<div style="text-align: center; position: relative;">
</div>
<div style="text-align: center; position: relative;">
    <a href="{{ url_for('index') }}" height="5" width="10">
        <img src="\static\img\노진구.jpg" style="width: 400px;height:500px ;">
    </a>
    <div style="font-size: 1.8em;font-weight: bold; position: absolute; bottom: 50%;left: 50%;">결과: {{ data }}</div>  
</div>
{% endblock %}