<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>Da Chaeum - 회원가입</title>

  </head>

<body>

<nav>
<div style="border:1px solid; padding:10px; margin: 20px;" action="/main" method="POST">
<form name="signUpForm" class="form" role="form">
  <legend>회원가입</legend>
  <br>
  <input type="text" name="ID"  placeholder="ID" />
  <br>
  <input type="password" name="pw"  placeholder="패스워드" />
  <br>
  <input type="password" name="confirm_password" placeholder="패스워드 재입력" />
  <br>
  <br>
  <button    onclick="location.href='main'" type="button">회원가입</button>
</body>
</html>